<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>

<body class="page">
    <%- include('block/face') %>
    <%- include('block/home') %>
    <!-- <%- include('block/team') %> -->
    <%- include('block/base') %>
    <%- include('block/footer') %>
    <%- include('block/scripts') %>
</body>

</html>